.Button{
    display: inline-block;
    margin: 20px;
    border: 2px solid rgb(66, 116, 63);
    border-radius: 60px;
    padding: 1%;
}
.Button_img{
    display: inline-block;
    margin: 20px;
    /* background-image: url('/image/brr.jpg'); */
    padding: 1%;

}
.img{
    height: 100px;
    width: 100px;
}
.block{
    margin: 2%;
    width: 50%;
}

.block_list{
    justify-content: center;
}
.Title{
    justify-content: center;
}
/* div button{
    display: inline-block;
    margin: 40px;
} */